<html>
    <header>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>

        <style>
            .margin-top-bottom-25 {
                margin-top: 25px;
                margin-bottom: 25px;
            }

            .margin-top-bottom-50 {
                margin-top: 50px;
                margin-bottom: 50px;
            }

            .font-red {
                color: red;
            }
        </style>

    </header>
    <div ng-app="calProfitApp" ng-controller="myCtrl">
        
        <div class="d-flex justify-content-center margin-top-bottom-50" style="padding-bottom: -50px;">
            <img src="./logo.png" style="max-width: 400px;" alt="mamapudong">
        </div>
        <div class="d-flex justify-content-center">
            <textarea ng-model="data" id="w3mission" rows="5" cols="100"></textarea>
        </div>
        
        <div class="d-flex justify-content-center margin-top-bottom-25">
            <button ng-click="calculate()" type="button" class="btn btn-primary">Calculate</button>
        </div>

        <div class="d-flex justify-content-center">
            <div class="alert alert-success" style="font-size: 32px; margin-right: 10px;">
                Your profit is : {{(summaryProfit-(employee.wagSummary+shopCost.shopCostSummary)) | number}} 
                <br>
                <label style="font-size: 20px;">
                    All profit : {{summaryProfit|number}}
                    <br>
                    All fixed cost : {{(employee.wagSummary + shopCost.shopCostSummary)|number}} ({{employee.wagSummary|number}} + {{shopCost.shopCostSummary|number}})
                    <br>
                    Calculate from : {{summaryProfit|number}} - {{(employee.wagSummary + shopCost.shopCostSummary) | number}}
                </label>
                <label class="d-flex justify-content-center" style="font-size: 20px; color: goldenrod;">
                    Update : 06/07/2020 17:02
                </label>
            </div>
        </div>

        <!-- Employee -->
        <div class="d-flex justify-content-center">
            <div class="alert alert-warning" style="font-size: 24px;">
                Employee Cost : {{employee.wagSummary | number}}
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <div ng-repeat="emp in employee" class="alert alert-warning" style="font-size: 24px;">
                <div class="d-flex justify-content-center">
                    {{emp.name}}
                </div>
                <input ng-model="emp.wage" ng-bind="bindEmployeeWageChangeValue()" type="number" class="form-control">
            </div>
        </div>

        <!-- Shop Cost -->
        <div class="d-flex justify-content-center">
            <div class="alert alert-warning" style="font-size: 24px;">
                Shop Cost : {{shopCost.shopCostSummary | number}}
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <div ng-repeat="shc in shopCost" class="alert alert-warning" style="font-size: 24px;">
                <div class="d-flex justify-content-center">
                    {{shc.name}}
                </div>
                <input ng-model="shc.cost" ng-bind="bindShopCostChangeValue()" type="number" class="form-control">
            </div>
        </div>

        <!-- Product list -->
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Product</th>
                <th scope="col">Quantity</th>
                <th scope="col">Profit per box</th>
                <th scope="col">Profit per product</th>
              </tr>
            </thead>
            <tbody ng-repeat="dt in data">
              <tr>
                <td scope="row">{{$index+1}}</th>
                <td ng-bind="dt.Name"></td>
                <td ng-bind="dt.Quantity"></td>
                <!-- profit per box -->
                <td ng-if="!!matchProfit[dt.Name]" ng-bind="matchProfit[dt.Name]"></td>
                <td ng-if="!!!matchProfit[dt.Name]" class="font-red">This menu not stored</td>
                <!-- profit per product -->
                <td ng-bind="getProfitFromName($index, dt.Name, dt.Quantity)" ng-class="{'font-red' : !!!matchProfit[dt.Name]}"></td>
              </tr>
            </tbody>
          </table>
    </div>
    
    <script>
        var app = angular.module('calProfitApp', []);
        app.controller('myCtrl', function ($scope) {
            // define
            $scope.summaryProfit = 0;
            $scope.count = {
                "round": 0,
                "value": 0
            };
            $scope.employee = [
                {
                    "name": "อุ",
                    "wage": 400
                },{
                    "name": "หมวย",
                    "wage": 400
                },{
                    "name": "เปา",
                    "wage": 400
                },{
                    "name": "ก็อต",
                    "wage": 400
                },{
                    "name": "นัด",
                    "wage": 400
                },{
                    "name": "ชัย",
                    "wage": 400
                }
            ];

            $scope.shopCost = [
                {
                    "name": "ค่าบ้าน",
                    "cost": 500
                },{
                    "name": "ค่าน้ำ",
                    "cost": 100
                },{
                    "name": "ค่าไฟ",
                    "cost": 500
                },{
                    "name": "ค่าน้ำมัน",
                    "cost": 400
                },{
                    "name": "ค่า Ads",
                    "cost": 900
                },{
                    "name": "อื่นๆ",
                    "cost": 700
                }
            ];

            $scope.calculate = function(){
                $scope.summaryProfit = 0;
                $scope.count.value = 0;
                $scope.count.round = 0;
                $scope.data = JSON.parse($scope.data);
                $scope.data = JSON.parse($scope.data.Data);
            }

            $scope.bindEmployeeWageChangeValue = function() {
                var wagSummary = 0;
                for(var i=0; i<$scope.employee.length; i++) {
                    wagSummary += $scope.employee[i].wage;
                }
                $scope.employee.wagSummary = wagSummary;
            }

            $scope.bindShopCostChangeValue = function() {
                var shopCostSummary = 0;
                for(var i=0; i<$scope.shopCost.length; i++) {
                    shopCostSummary += $scope.shopCost[i].cost;
                }
                $scope.shopCost.shopCostSummary = shopCostSummary;
            }

            $scope.getProfitFromName = function(index, key, quantity){
                if($scope.count.round == 0) {                  
                    if(!!$scope.matchProfit[key]) {
                        var profit = $scope.matchProfit[key] * quantity;

                        if($scope.count.value < $scope.data.length) {
                            $scope.summaryProfit += profit;
                        }

                        $scope.count.value++;
                        return profit;

                    } else if($scope.count.value < $scope.data.length) {
                        $scope.count.value++;
                        return 'This menu not stored';

                    } else {
                        $scope.count.round++;
                        $scope.count.value = 0;
                    }
                } else if(!!$scope.matchProfit[key]) {
                        return $scope.matchProfit[key] * quantity;
                } else {
                    return 'This menu not stored';
                }
            }

            $scope.matchProfit = {
                "01 Re-กุ้งแม่น้ำเผาเนย (ไซส์ใหญ่)": 80,
                "02 Gf-ข้าวสวย": -1,
                "01 Re-หอยนางรม (ชุดเล็ก) (แถม)": -190,
                "02 Gf-หอยนางรม (ชุดใหญ่)": 120,
                "02 Gf-กุ้งแม่น้ำเผา (ครึ่งกิโลกรัม)": 70,
                "01 Re-กุ้งแม่น้ำเผา (หนึ่งกิโลกรัม)": 100,
                "01 Re-กุ้งแม่น้ำเผา (ครึ่งกิโลกรัม)": 70,
                "01 Re-หอยนางรม (ชุดใหญ่)": 120,
                "01 Re-หอยนางรม (ชุดเล็ก)": 100,
                "01 Re-ปูนิ่มทอดกระเทียม": 100,
                "01 Re-ยำไข่แมงดาเผา (แถม)": -260,
                "01 Re-กุ้งมังกรย่างเนย (แถม)": -440,
                "01 Re-กุ้งมังกรย่างเนย": 150,
                "01 Re-หอยหวานเผาเนย (แถม)": -150,
                "ค่าส่ง Inter Express": -1,
                "01 Re-กั้งทอดกระเทียม": 100,
                "ข้าวผัดกุ้ง": 50,
                "01 Re-หอยแครงลวก": 100,
                "ยำไข่แมงดา": 90,
                "แถมหอยนางรม": -280,
                "กุ้งมังกร": 200,
                "02 Gf-หอยหวานเผาเนย": 200,
                "02 Gf-ยำไข่แมงดาเผา": 90,
                "02 Gf-ปูม้าแกะ": 80,
                "02 Gf-ปูทะเลไข่ดองไซส์ XS": 200,
                "02 Gf-กุ้งเผาเนย": 100,
                "01 Re-ปูม้าไข่ดอง (ไซส์เล็ก)  (แถม)": -119,
                "01 Re-ปูม้าไข่ดอง (ไซส์เล็ก) (แถม)": -119,
                "01 Re-ปูทะเลไข่นึ่งนมสดไซส์ M (แถม)": -259,
                "01 Re-ปูทะเลไข่ไซส์ L": 150,
                "01 Re-น้ำพริกไข่ปู": 130,
                "01 Re-กุ้งเผาเนย (แถม)": -249,
                "01 Re-กุ้งเผาเนย": 150,
                "02 Gf-หอยนางรม": 170,
                "01 Re-หอยหวานเผาเนย": 200,
                "01 Re-หอยนางรม": 170,
                "01 Re-ยำไข่แมงดาเผา": 90,
                "01 Re-ปูม้าแกะ": 80,
                "01 Re-ข้าวสวย": -1,
                "01 Re-ค่าส่ง": 30,
                "01 Re-กั้งกระดานเผาเนย": 90,
                // "01 Re-กั้งกระดานเผาเนย": 777,
                "01 Gf-ปูทะเลไข่ดองไซส์ XS": 200,
                "01 Re - ข้าวสวย": -1,
                "01 Re - หอยแครงลวก": 100,
                "01 Re-กั้งกระดานย่างเนย": 90,
                "01 Re-กั้งดองน้ำปลา": 80,
                "01 Re-กั้งดองน้ำปลา (คัดไข่)": 120,
                "01 Re-กั้งดองน้ำปลา (คัดไข่) (แถม)": -119,
                "01 Re-กั้งดองน้ำปลา (แถม)": -79,
                "01 Re-กุ้งดองน้ำปลา": 60,
                "01 Re-กุ้งดองน้ำปลา (แถม)": -99,
                "01 Re-กุ้งเผา": 100,
                "01 Re-ค่าส่งนอกเขตพื้นที่": 30,
                "01 Re-ชุดคู่หูปูกุ้ง": 200,
                "01 Re-ชุดคู่หูปูกุ้ง": 200,
                "01 Re-แซลมอนซาซิมิ": 50,
                "01 Re-แซลมอนดองน้ำปลา": 50,
                "01 Re-ปูทะเลไข่ดองไซส์ L": 150,
                "01 Re-ปูทะเลไข่ดองไซส์ M": 200,
                "01 Re-ปูทะเลไข่ดองไซส์ M (แถม)": -250,
                "01 Re-ปูทะเลไข่ดองไซส์ S": 150,
                "01 Re-ปูทะเลไข่ดองไซส์ XL": 150,
                "01 Re-ปูทะเลไข่ดองไซส์ XS": 200,
                "01 Re-ปูทะเลไข่ดองไซส์ XS (แถม)": -250,
                "01 Re-ปูทะเลไข่นึ่งนมสดไซส์ L": 250,
                "01 Re-ปูทะเลไข่นึ่งนมสดไซส์ M": 300,
                "01 Re-ปูทะเลไข่นึ่งนมสดไซส์ S": 250,
                "01 Re-ปูม้าแกะ (แถม)": -270,
                "01 Re-ปูม้าไข่ดอง (ไซส์กลาง)": 100,
                "01 Re-ปูม้าไข่ดอง (ไซส์กลาง) (แถม)": -139,
                "01 Re-ปูม้าไข่ดอง (ไซส์เล็ก)": 80,
                "01 Re-ปูม้าไข่ดอง (ไซส์เล็ก) (แถม)": -119,
                "01 Re-ปูม้าไข่ดอง (ไซส์เล็ก-คัดไข่แก่)": 60,
                "01 Re-ปูม้าไข่ดอง (ไซส์เล็ก-คัดไข่แก่) (แถม)": -179,
                "01 Re-ปูม้าไข่ดอง (ไซส์ใหญ่)": 150,
                "01 Re-ปูม้าไข่ดอง (ไซส์ใหญ่) (แถม)": -149,
                "01 Re-หมึกไข่ต้มหวาน": 100,
                "01 Re-หมึกไข่ต้มหวาน (แถม)": -199,
                "01 Re-หมึกไข่ทอด": 120,
                "01 Re-หอยหวานเผา": 200,
                "02 Gf-กั้งกระดานเผาเนย": 90,
                "02 Gf-กั้งดองน้ำปลา": 80,
                "02 Gf-กั้งดองน้ำปลา (คัดไข่)": 120,
                "02 Gf-กุ้งดองน้ำปลา": 60,
                "02 Gf-กุ้งเผา": 100,
                "02 Gf-แซลมอนซาซิมิ": 50,
                "02 Gf-แซลมอนดองน้ำปลา": 50,
                "02 Gf-ปูทะเลไข่ดองไซส์ L": 150,
                "02 Gf-ปูทะเลไข่ดองไซส์ M": 200,
                "02 Gf-ปูทะเลไข่ดองไซส์ S": 150,
                "02 Gf-ปูม้าไข่ดอง (ไซส์กลาง)": 100,
                "02 Gf-ปูม้าไข่ดอง (ไซส์เล็ก)": 80,
                "02 Gf-ปูม้าไข่ดอง (ไซส์เล็ก-คัดไข่แก่)": 60,
                "02 Gf-ปูม้าไข่ดอง (ไซส์ใหญ่)": 150,
                "02 Gf-หมึกไข่ต้มหวาน": 100,
                "02 Gf-หมึกไข่ทอด": 120,
                "Gf - 01 ปูม้าแกะ": 80,
                "Re - 01 ปูม้าแกะ": 80,
                "กล่องโฟมเล็ก": 40,
                "กั้งทอด": 100,
                "กุ้งดอง": 60,
                "กุ้งนึ่ง": 100,
                "กุ้งแม่น้ำย่าง": 100,
                "กุ้งสด": 50,
                "ค่าส่ง": 30,
                "ค่าส่ง Inter Express": -1,
                "ค่าส่งนอกเขตพื้นที่ให้บริการ": 30,
                "น้ำจิ้ม": 10,
                "น้ำจิ้ม (กระปุก)": 10,
                "น้ำจิ้ม (ขวด) 150 CC": 25,
                "น้ำดอง": 10,
                "ปูไข่ดอง xs": 200,
                "ปูม้าแกะ": 80,
                "ปูม้าดองใหญ่": 150,
                "หมึกไข่ทอด": 120
            };
        });
    </script>
</html>